<ion-header>
  <ion-toolbar>
    <ion-title>Einkaufslisten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let order of orders$ | async">
      <ion-card-header>
        {{order.name}}
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let item of order.eintraege | sortArticle">
          <h1>{{item.item}}</h1>
          <p>{{item.category?.name}}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
