<ion-header>
  <ion-toolbar>
    <ion-title>Einkaufslisten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let order of orders$ | async">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              <h3>{{order.name}}</h3>
            </ion-col>
            <ion-col size="3">
              <ion-button style="font-size: 10pt;"
                item-end
                color="danger"
                (click)="deleteOrder(order.id)"
                ><ion-icon name="trash-outline"></ion-icon
              ></ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <ion-item
          button
          (click)="toggleItem(item.id, order.id)"
          *ngFor="let item of order.eintraege | sortArticle: order.boughtArticles"
        >
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <h2 *ngIf="!order.boughtArticles?.includes(item.id)">
                  {{item.item}}
                </h2>
                <h2 *ngIf="order.boughtArticles?.includes(item.id)">
                  <s>{{item.item}}</s>
                </h2>
              </ion-col>
              <ion-col size="6">
                <p *ngIf="!order.boughtArticles?.includes(item.id)">
                  {{item.category?.name}}
                </p>
                <p *ngIf="order.boughtArticles?.includes(item.id)">
                  <s>{{item.category?.name}}</s>
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
