<ion-header>
  <ion-toolbar>
    <ion-title>Artikel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let article of articles$ | async">
      <ion-item >
        <ion-checkbox
          [checked]="article.marked"
          (click)="markArticle(article.id, article.marked)"
        ></ion-checkbox>
        <app-article-item [article]="article" style="display: contents;"> </app-article-item>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="9" size-md="6" size-lg="4">
        <form [formGroup]="articlesForm">
          <ion-item>
            <ion-label>Artikelname</ion-label>
            <ion-input
              placeholder="Artikelname"
              formControlName="item"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Kategorie</ion-label>
            <ion-select formControlName="category" interface="action-sheet">
              <ion-select-option
                [value]="category"
                *ngFor="let category of categories$ | async"
                >{{category.name}}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-button
            type="submit"
            (click)="createArticle()"
            [disabled]="!articlesForm.valid"
          >
            Artikel hinzufügen
          </ion-button>
          <ion-button type="buttion" (click)="createOrderList()"
            >Erstelle Einfakusliste</ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
